# MySQL connection
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=hablemos_espanhol
MYSQL_USER=hablemos_user
MYSQL_PASSWORD=changeme
DB_PORT=3306
DB_USER=hablemos_user
DB_PASSWORD=changeme
DB_NAME=hablemos_espanhol
#link para gerar a sua chave: https://aistudio.google.com/app/projects 
GEMINI_API_KEY=generate_yours
ENABLE_POLL_QUESTIONS=false

LOCAL_TEST_URL=url_docker_local

LLM_PROVIDER=gemini # valores aceitos: gemini | ollama
SWAGGER_ENABLED=true # false para desabilitar o swagger. em prod, deve ser sempre false