# MySQL connection
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=hablemos_espanhol
MYSQL_USER=hablemos_user
MYSQL_PASSWORD=changeme
DB_HOST=mysql
DB_PORT=3306
DB_USER=hablemos_user
DB_PASSWORD=changeme
DB_NAME=hablemos_espanhol
